
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Consultar datos de cuentas</h3>
        <form action="Customer/Customer" method="post">
            <br />
            <label>Id Cliente: <input type="text" name="customerId" value="" /><br /></label>
            <input type="submit" name="enviar" value="Validar" />
        </form>
    </div>
</body>
</html>
