
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transaction</title>
</head>
<body>
    <div> 
        <label>Estoy en transactions</label>
    </div>
</body>
</html>
